<?php
/**
 * @var $this \isv\View\ViewBase
 */
?>
<?=$this->beginHtml()?>
    <head>
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?=$this->css('bootstrap/css/bootstrap.min.css')?>
        <?=$this->css('css/style.css')?>
        <?=$this->title()?>
        <?=$this->description()?>
        <?=\isv\View\SeoHelper::author('isvteam.com')?>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ISV</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/isv">Developer</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <?php if(\isv\IS::app()->user()->isAuth()) { ?>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <?=\isv\IS::app()->user()->email?> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="/admin/index/logout">Logout</a></li>
                        </ul>
                    </li>
                    <?php } else { ?>
                        <a href="/user/login" class="btn btn-primary" style="margin-top: 8px; margin-right: 20px;">Login</a>
                    <?php } ?>
                </ul>
            </div>
        </nav>
        <div class="container">
            <?php if(\isv\IS::app()->session()->flash('success')) : ?>
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <?=\isv\IS::app()->session()->getFlash("success")?>
                </div>
            <?php endif; ?>
            <?php if(\isv\IS::app()->session()->flash('error')) : ?>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <?=\isv\IS::app()->session()->getFlash("error")?>
                </div>
            <?php endif; ?>
            <?php $this->content(); ?>
            <hr>
            <footer>
                <p>© <a href="http://isvteam.com">ISVTeam</a> <?=date('Y')?>. All rights reserved</p>
            </footer>
        </div>
        <?=$this->js('js/jquery-3.1.1.min.js')?>
        <?=$this->js('bootstrap/js/bootstrap.min.js')?>
    </body>
<?=$this->endHtml()?>
