<?php
/**
 * @var $this \isv\View\ViewBase
 */
?>
<?=$this->beginHtml()?>
    <head>
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?=$this->css('bootstrap/css/bootstrap.min.css')?>
        <?=$this->js('js/jquery-3.1.1.min.js')?>
        <?=$this->js('bootstrap/js/bootstrap.min.js')?>
        <?=$this->css('css/style.css')?>
        <?=$this->title()?>
        <?=$this->description()?>
        <?=\isv\View\SeoHelper::author('isvteam.com')?>
        <?php
        define('FANCYBOX_PATH', 'lib/fancybox');
        ?>
    </head>
    <body style="background-image: url('')">
    <div class="container" style="margin-top: 10%;">
        <?php $this->content(); ?>
        <hr>
        <footer>
            <p>© <a href="http://isvteam.com">ISVTeam</a> <?=date('Y')?>. All rights reserved</p>
        </footer>
    </div>
    </body>
<?=$this->endHtml()?>
