<?php
/**
 * @var $id int
 * @var $name string
 */
?>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Contact</h1>
            <form method="post" action="/contact">
                <div class="form-group">
                    <label for="email">Your email</label>
                    <input type="email" id="email" class="form-control" name="email" />
                </div>
                <div class="form-group">
                    <label for="name">Your name</label>
                    <input type="text" id="name" class="form-control" name="name" />
                </div>
                <div class="form-group">
                    <label for="message">Your message</label>
                    <textarea class="form-control" rows="6" id="message" name="message"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>