<?php
/**
 * @var $id int
 * @var $name string
 */
?>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to <span class="isv">ISV</span> framework!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="http://framework.isvteam.com/docs" role="button">Documentation »</a> IT works on PHP <?=phpversion()?></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Froum</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-success" href="http://forum.legosp.net/isv" role="button">Go it »</a></p>
        </div>
        <div class="col-md-4">
            <h2>About ISVTeam</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-success" href="http://forum.legosp.net/isv" role="button">Go it »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Have questions?</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-success" href="http://framework.isvteam.com/contact" role="button">Ask »</a></p>
        </div>
    </div>
</div>