<?php
/**
 * @var $form \isv\Form\Form
 */
?>

<?=$form->start(['action' => '/news/process'])?>

<div class="form-group">
    <label>Название</label>
    <?=$form->show('name', ['class' => 'form-control'])?>
</div>

<div class="form-group">
    <label>Meta title</label>
    <?=$form->show('metaTitle',  ['class' => 'form-control'])?>
</div>

<div class="form-group">
    <label>Meta description</label>
    <?=$form->show('metaDescription',  ['class' => 'form-control'])?>
</div>

<div class="form-group">
    <label>Описание</label>
    <?=$form->show('description',  ['class' => 'form-control'])?>
</div>

<div class="form-group">
    <label>Статья</label>
    <?=$form->show('content',  ['class' => 'form-control', 'rows' => 6])?>
</div>

<div class="form-group">
    <?=$form->submit(['class' => 'btn btn-success'])?>
    <a href="/news" class="btn btn-primary">Назад к списку</a>
</div>

<?=$form->end()?>
