<?php
/**
 * @var $model array
 * @var $n \Models\NewsModel
 */
?>
<h2>Новости</h2>
<a href="/news/create">Создать новость</a>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Дата создания</th>
        <th>Краткое описание</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <?php
        if($model && count($model)) { foreach ($model as $n) {
    ?>
    <tr>
        <td><?=$n->getId()?></td>
        <td><?=$n->getName()?></td>
        <td><?=$n->getCreated()?></td>
        <td><?=$n->getDescription()?></td>
        <td>
            <a href="/news/edit/<?=$n->getId()?>" class="btn btn-primary btn-sm">Редактировать</a>
            <a href="/news/view/<?=$n->getId()?>" class="btn btn-warning btn-sm">Просмотреть</a>
            <a href="/news/delete/<?=$n->getId()?>" class="btn btn-danger btn-sm">Удалить</a>
        </td>
    </tr>
    <?php } } ?>
    </tbody>
</table>

