<?php
/**
 * @var $this \isv\View\ViewBase
 * @var $model \Models\NewsModel
 */
?>

<h1><?=$model->getName()?></h1>

<strong>
    <?=$model->getDescription()?>
</strong>

<p>
    <?=$model->getContent()?>
</p>
<p><?=$model->getCreated()?></p>
<a href="/news" class="btn btn-primary">Назад к списку</a>
