<?php /**@var $form \isv\Form\Form*/?>
<?php /**@var $model \Models\UsersModel*/?>
<?php /**@var $error array*/?>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <?php if($error) { ?>
            <div class="alert <?=$error['class']?>">
                <?=$error['message']?>
            </div>
        <?php } ?>
        <form action="/user/login" method="post">
            <div class="form-group">
                <label for="username">Email address or username</label>
                <input type="text" name="username" id="username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Log in</button>
                <span style="font-weight: bold"> - OR -
                <a href="/user/register" class="btn btn-primary">Register now</a>

            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
       document.getElementById('username').addEventListener('change', function (e) {
           console.log(e.target.value+' - should be checked to existing username');
       })
    });
</script>