<?php /**@var $form \isv\Form\Form*/?>
<?php /**@var $model \Models\UsersModel*/?>
<style>.error{color: red;}</style>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <?=$form->start(['action' => '/user/register'])?>
        <div class="form-group">
            <label for="username"><?=$form->label('username')?></label>
            <?=$form->show('username')?>
            <span class="error"><?=$model->getErrors('username')?></span>
        </div>
        <div class="form-group">
            <label for="email"><?=$form->label('email')?></label>
            <?=$form->show('email')?>
            <span class="error"><?=$model->getErrors('email')?></span>
        </div>
        <div class="form-group">
            <label for="password"><?=$form->label('password')?></label>
            <?=$form->show('password')?>
            <span class="error"><?=$model->getErrors('password')?></span>
        </div>
        <div class="form-group">
            <label for="passwordMatch"><?=$form->label('passwordMatch')?></label>
            <?=$form->show('passwordMatch')?>
            <span class="error"><?=$model->getErrors('passwordMatch')?></span>
        </div>
        <div class="form-group">
            <label for="passwordMatch"><?=$form->label('sex')?></label>
            <?=$form->show('sex', [], [0 => 'Male', 1 => 'Female'])?>
            <span class="error"><?=$model->getErrors('sex')?></span>
        </div>
        <div class="form-group">
            <label for="age"><?=$form->label('age')?></label>
            <?=$form->show('age')?>
            <span class="error"><?=$model->getErrors('age')?></span>
        </div>
        <div class="form-group">
            <?=$form->submit(['class' => 'btn btn-primary', 'value' => 'Register now'])?>
            <a href="/user/login" class="btn btn-success">Already have account?</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
       document.getElementById('username').addEventListener('change', function (e) {
           console.log(e.target.value+' - should be checked to existing username');
       })
    });
</script>