<?php
/**
 * @var $frontend stdClass
 * @var $offer \Models\OffersModel
 */
?>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#main" data-toggle="tab">
                            <span class="glyphicon glyphicon-globe"></span>
                            Main settings
                        </a>
                    </li>
                    <li>
                        <a href="#password-tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-cog"></span>
                            Admin password
                        </a>
                    </li>
<!--                    <li>-->
<!--                        <a href="#offer-tab" data-toggle="tab">-->
<!--                            <span class="glyphicon glyphicon-cog"></span>-->
<!--                            Offer-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
                <div class="tab-content">
                    <!-- Main settings -->
                    <div class="tab-pane active" id="main">
                        <h3>Main site settings</h3>
                        <form action="" method="post">
                            <?php foreach ($frontend as  $name => $setting) {
                                \Widget\ConfWidget::show([
                                    'data' => $setting,
                                    'name' => $name,
                                ]);
                            }?>
                            <div class="form-group">
                                <button class="btn btn-info">Save settings</button>
                            </div>
                        </form>
                    </div>
                    <!-- Change password -->
                    <div class="tab-pane" id="password-tab">
                        <h3 class="text-center">Change administrator's password</h3>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <form action="/admin/settings/password" method="post">
                                <div class="form-group">
                                    <label for="pass">Current password</label>
                                    <input type="password" required id="pass" name="current" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="new">New password</label>
                                    <input type="password" required id="new" name="password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="re">Confirm new password</label>
                                    <input type="password" required id="re" name="password_match" class="form-control" />
                                    <div class="help-block" style="display: none">Passwords doesn't match</div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="save-btn" disabled class="btn btn-primary btn-block">Change password</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="tab-pane" id="offer-tab">
                        <?php
                            $form = $offer->getFrom();
                        ?>
                        <?=$form->start(['action' => '/admin/settings/offer'])?>
                        <div class="form-group">
                            <label>Договор оферты</label>
                            <?=$form->show('offerText')?>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">Save</button>
                        </div>
                        <?=$form->end()?>
                    </div>
                </div><!-- /tab-content -->
            </div><!-- /tabbable -->
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.iframe-btn').fancybox({
            'width'     : 900,
            'min-height'    : 1200,
            'type'      : 'iframe',
            'autoScale' : false
        });
    });
    function responsive_filemanager_callback(field_id){
        $("#image_"+field_id).attr('src', $("#"+field_id).val()).show();
        $('.fancybox-button--close').click();
    }
    $(document).ready(function () {
        $('#re').keyup(function () {
            if($('#re').val() === $('#new').val()) {
                $("#save-btn").removeAttr('disabled');
                $(".help-block").hide();
            }
            else {
                $("#save-btn").attr('disabled', 'disabled');
                $(".help-block").show();
            }
        });
    });
</script>
<style>
    .fancybox-content{
        min-height: 600px;
    }
</style>